/* font */
* {
    font-family: "Cuprum", sans-serif;
    font-weight: 700;
  }
  
/* preset  */
:root {
    --mainThemeColor: #141924;
    --FontColor: #FFFF;
  }
  
#contact-link{
    background: none;
    border: none;
    color: var(--FontColor);
    padding: 0 25px;
    font-size: 18px;
    font-weight: 800;
    transition: all 0.2s ease-in-out;
}

#contact-link:hover{
    transform: scale(1.2);    
    transition: all 0.2s ease-in-out;
}

.header-link {
  margin-right: 20px;
  transition: all 0.2s ease-in-out;
}
