.detail-background {
  z-index: -1;
  position: fixed;
  top: 0;
  width: 100%;
}

.item-detail {
  background-color: var(--mainThemeColor);
  opacity: 0.95;
  color: var(--fontColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  border-radius: 20px;
  margin: 5% auto;
  padding: 1%;
  box-shadow: 2px 2px 20px black;
}

.item-title {
  font-size: 4em;
  margin: 1%;
}

.item-infos {
  font-size: 1.5em;
  text-align: justify;
}

.item-button {
  border: none;
  width: 200px;
  height: 80px;
  margin: auto;
  border-radius: 10px;
  background: #000;
  color: #ffff;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.item-button:hover {
  background: #fff;
  color: #000;
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
}

.item-small-infos {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Modal réservation */
.reserv-container {
  position: fixed;
  z-index: 3;
  display: flex;
  top: 25%;
  left: 40%;
  height: 50%;
  width: 20%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--mainThemeColor);
  border-radius: 20px;
}

.reserv-button {
  z-index: 3;
  border: none;
  width: 200px;
  height: 50px;
  margin: auto;
  border-radius: 10px;
  background: #000;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.reserv-button:hover {
  background: #fff;
  color: #000;
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
}

.reserv-background {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

/*Responsive mobile*/
@media screen and (max-width: 1080px) {
  .detail-background {
    height: 100%;
    object-fit: cover;
  }

  .item-detail {
    border: solid 1px rgba(255, 255, 255, 0.5);
    max-height: 80vh;
    overflow: scroll;
    width: 85vw;
    padding: 15px;
  }

  /* Modal réservation */
  .reserv-container {
    top: 25%;
    left: 20%;
    width: 60%;
    height: 50%;
  }
}

/*Responsive tablette*/
@media screen and (max-width: 1079px) and (min-width: 800px) {
  /* Modal réservation */
  .reserv-container {
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
  }
}
