/* font */
* {
  font-family: "Cuprum", sans-serif;
  font-weight: 700;
}

/* preset  */
:root {
  --mainThemeColor: #141924;
  --FontColor: #ffff;
}

body {
  min-height: 100vh;
  height: 100%;
}

header {
  width: 100%;
  height: 63px;
  display: flex;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 250px;
  box-shadow: 2px 2px 20px black;
}

nav {
  background: var(--mainThemeColor);
  width: 100%;
  height: 63px;
  border-radius: 0 0 3px 3px;
  box-shadow: 2px 2px 20px black;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  margin-left: 20px;
  color: var(--FontColor);
  text-decoration: none;
}

nav a:last-child {
  margin-right: 20px;
}

nav a:hover {
  transform: scale(1.2);
}

.slider-container {
  width: 100%;
  height: 68vh;
}

main {
  flex-grow: 10;
  width: 90%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

p.description-restaurant,
p.description-chef {
  width: 45%;
  height: 150px;
  margin: 7px 10px;
  background: var(--mainThemeColor);
  padding: 15px;
  border-radius: 3px;
  color: var(--FontColor);
}

footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: var(--mainThemeColor);
  box-shadow: 2px 2px 20px black;
  color: var(--FontColor);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

span.footer-text {
  font-weight: 800;
  padding-right: 25px;
}

footer i {
  font-size: 25px;
  color: var(--FontColor);
  margin-right: 15px;
}

footer i:last-child {
  margin-right: 25px;
}

footer i:hover {
  transform: scale(1.2);
  color: orange;
}
