.button-group-items {
  width: 100vw;
  height: 90vh;
  background: var(--mainThemeColor);
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

button.menu-btn {
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
  border: none;
  border-radius: 3px;
  background: var(--mainThemeColor);
  pointer-events: none;
  overflow: hidden;
}
.menu-link {
  height: 100%;
}

.menu-cat-img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
  object-position: center;
  pointer-events: auto;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.menu-btn:hover .menu-cat-img {
  transform: scale(1.025);
  transition: all 0.3s ease-in-out;
}

.button-group-items:hover .menu-cat-img {
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
}

.button-group-items:hover .menu-cat-img:not(:hover) {
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.bgmTxt {
  position: absolute;
  bottom: 20vh;
  width: 15vw;
  font-size: 32px;
  color: var(--fontColor);
  padding: 5px 15px;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
}

/*Responsive mobile*/
@media screen and (max-width: 480px) {
  .button-group-items {
    flex-direction: column;
  }

  .menu-btn {
    width: 100% !important;
  }

  .bgmTxt {
    font-size: 1.8em;
    bottom: unset;
    width: 60vw;
  }
}

/* Responsive mobile paysage */
@media screen and (width: 926px) {
  .button-group-items {
    flex-direction: row !important;
    height: 82vh;
  }

  .bgmTxt {
    font-size: 1.8em;
    bottom: 60px !important;
    width: 15vw !important;
  }
}

/*Responsive tablette*/
@media screen and (max-width: 1079px) and (min-width: 800px) {
  .button-group-items {
    flex-direction: column;
  }

  .menu-btn {
    width: 100% !important;
  }

  .bgmTxt {
    font-size: 1.8em;
    bottom: unset;
    width: 60vw;
  }
}
